body{
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(255, 181, 90);
    text-align: center;
}

h2{
    text-align: center;
    
}

.header{
    background-color: antiquewhite;
    padding: 25px;
}

.Counter{
    text-align: center;
    border: 50px;
}

submit{
    padding: 50px;
}

.Counter button{
    margin: 10px;
    padding: 8px;
}

img{
    max-width: 100% !important;
}