body{
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(255, 181, 90);
    text-align: center;
}

h2{
    text-align: center;
    
}
.header{
    background-color: antiquewhite;
    padding: 25px;
}

